{% extends 'base.html.twig' %}

{% block title %}Hello NavbarController!{% endblock %}


{% block body %}
<div class="card" style="width: 18rem;">
  <img src="{{asset('assets/images/atlantis.jpg')}}" class="card-img-top" alt="image destination">
  <div class="card-body">
    <h5 class="card-title text-center">Destination</h5>
    <p class="card-text">Description</p>
    <a href="#" class="btn btn-info">Prix</a>
  </div>
</div>
{% endblock %}
