@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

/* p{
    margin: 0 !important;
    padding: 0 !important;
    vertical-align: middle;
} */

.title-site {
    font-family: 'Bagel Fat One', cursive;
}

.panier {
    width: 50px;
}

.touristes {
    width: 100px;
}

.formulaire-connexion {
    margin-top: 100px;
}


#compte:hover {

    color: white;
}

h1 {
    margin: 0 !important;
}

.imageCard {
    height: 160px;
}

.imageCard img {
    object-fit: cover;
    overflow: hidden;
}