{% extends 'base.html.twig' %}

{% block title %}Hello VoyageController!{% endblock %}

{% block body %}
 {% for voyage in voyage %}
 <a href="{{path('')}}" class="btn-primary">Voir les détails</a>
 {% endfor %}
{% endblock %}
